.post-container {
  max-width: 100vw;
  padding: 24px 5vw;
  overflow: hidden;
}

.post-container .post-image {
  /* size: 100%; */
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.post-container .post-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 24px;
}

.post-container .post-info {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.post-container .post-content {
  width: 60%;
  margin: auto;
  font-size: 1.2rem;
  line-height: 28px;
  letter-spacing: 2px;
}