.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/hero1.jpg');
  background-size: cover;
  height: 92vh;
}

.home h1 {
  color: white;
  margin-top: 20vh;
  font-size: 4rem;
  text-align: center;
}

.recents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}