* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}


/* Home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/bg.jpg');
  background-size: cover;
  height: 92vh;
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/bg.jpg');
  background-size: cover;
  height: 40vh;
}

.about h1    {
  color: white;
}

.r {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  margin: 24px;
}

.r p {
  font-size: 1.2rem;
}

.images h2 {
  font-size: 2.5rem;
}

.images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images img {
  max-width: 50%;
  padding: 24px;
}

.home h1 {
  color: white;
  margin: auto;
  font-size: 4rem;
  text-align: center;
}

.recents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */

/* Blog */
/* /* .blog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

/* Login form */
.login-form{
  margin: auto 20vw;
  max-width: 60vw;
}

.login-form h1 {
  text-align: center;
}

/* Signup form */
.signup-form {
  margin: 50px auto 50px auto;
  min-width: 40vw;
  max-width: 80vw;
}

.signup-form h1 {
  text-align: center;
}
