/* Home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/hero1.jpg');
  background-size: cover;
  height: 92vh;
}

.home h1 {
  color: white;
  margin-top: 20vh;
  font-size: 4rem;
  text-align: center;
}

.recents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Blog */
.blog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Login form */
.login-form {
  margin: 25vh auto;
  width: 60vw;
}

.login-form h1 {
  text-align: center;
}

/* Signup form */
.signup-form {
  margin: 50px auto;
  min-width: 40vw;
  max-width: 80vw;
}

.signup-form h1 {
  text-align: center;
}